@model Ouvidoria.Models.Departamento

<div class="container-fluid content-end">

    @{Html.RenderPartial("_PartialAdmSideBar"); }
    <div class="content-sides">

        <div class="col-md-9 col-sm-8 content-cad" id="divInicial">
            <h2>Departamentos</h2>
            <hr />
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Departamentos", "Index", "Departamentos")
                </li>
                <li class="active" id="liPagina">Excluir</li>
            </ol>
            <div class="col-md-10 col-lg-offset-1">

                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger">Você tem certeza que deseja exlcuir o Departamento abaixo?</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.Nome): @Html.DisplayFor(model => model.Nome)</li>
                </ul>

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="text-right" style="text-align: right">
                            @Html.ActionLink("Voltar", "Index", null, new { @class = "action-link btn btn-default" })
                            <input type="submit" value="Excluir" class="btn btn-danger" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
