@model Ouvidoria.Models.Departamento

<div class="container-fluid">
    <div class="content-sides">
        <div class="col-md-8 col-md-offset-2" id="divInicial">
            <h1>
                <i class="glyphicon glyphicon-trash type-gyphi" style="padding: 12px; height: 60px; width: 60px; font-size: 35px;  "></i>
                Departamentos - @Html.Label(Model.Nome)
            </h1>
            <hr />
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Departamentos", "Index", "Departamentos")
                </li>
                <li class="active" id="liPagina">Excluir</li>
            </ol>
            <div class="col-md-12">
                <h3 style="color: red">Você tem certeza que deseja exlcuir o Departamento <strong>@Html.Label(Model.Nome)</strong>?</h3>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="text-right" style="text-align: right">
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "action-link btn btn-default" })
                        <input type="submit" value="Excluir" class="btn btn-danger" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
