@model Ouvidoria.Models.Evento
@{
    ViewBag.Title = "Denuncia";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>
                <i class="fa fa-bullhorn type-gyphi"></i>
            </h1>
        </div>
        <div class="col-xs-12 text-center">
            <h1 class="name-giphy">Denuncie</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" id="divFormulario">
            <h1 class="page-header">
                Ouvidoria
                <small id="smTipo">Registre abaixo o seu denúncia</small>
            </h1>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label for="Titulo" class="control-label col-md-2">Título</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Titulo, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Titulo)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Descricao" class="control-label col-md-2">Descrição</label>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.Descricao, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Descricao)
                        </div>
                    </div>

                    <div>
                        class="form-group" hidden="hidden">
                        @Html.TextBoxFor(model => model.idEventoTipo)
                    </div>

                    <div>
                        class="form-group">
                        <div class="col-md-offset-1 col-md-10 text-right">
                            <button class="btn btn-default">@Html.ActionLink("Voltar", "Index")</button>
                            <input type="submit" value="Salvar Denúncia" class="btn btn-primary" id="btnSalvar" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script src="@Url.Content("/Scripts/jquery-3.3.1.js")"></script>

