@model IEnumerable<Ouvidoria.Models.Feedback>



<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>
                <i class="glyphicon glyphicon-star type-gyphi"></i>
            </h1>
        </div>
        <div class="col-xs-12 text-center">
            <h1 class="name-giphy">Feedback</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" id="divFormulario">
            <h1 class="page-header">
                Ouvidoria
                <small id="smTipo">
                    Registre abaixo o seu Feedback
                    <button class="pull-right btn btn-primary" data-toggle="modal" data-target="#modal-feedback">
                        Visualize seus Feedbacks
                        <i class="glyphicon glyphicon-th-list"></i>
                    </button>
                </small>
            </h1>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <label for="idDepartamento" class="control-label col-md-2">Selecione o Departamento</label>
                        <div class="col-md-10">
                            @Html.DropDownList("idDepartamento", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "form-control btn btn-default" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <small>(Opcional)</small>
                            <label for="Comentario">
                                Comentário
                            </label>
                        </div>
                        <div class="col-md-10">
                            <textarea class="form-control" id="Comentario" name="Comentario" rows="4" cols="20" data-val="true"></textarea>
                            <span class="field-validation-valid" data-valmsg-for="Comentario" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group" hidden="hidden">
                        <input class="form-control" data-val="true"
                               data-val-required="Campo obrigatório" id="Avaliacao" name="Avaliacao" type="number" value="">
                    </div>

                    <div class="form-group estrelas">
                        <label class="control-label col-md-2">Avaliação</label>
                        <div class="col-md-10 form-control-static">
                            <input type="radio" id="vazio" name="estrela" value="0" checked />
                            <label for="estrela_um"><i class="fas fa-star" id="icon_estrela_um"></i></label>
                            <input type="radio" id="estrela_um" name="estrela" value="1" />
                            <label for="estrela_dois"><i class="fas fa-star" id="icon_estrela_dois"></i></label>
                            <input type="radio" id="estrela_dois" name="estrela" value="2" />
                            <label for="estrela_tres"><i class="fas fa-star" id="icon_estrela_tres"></i></label>
                            <input type="radio" id="estrela_tres" name="estrela" value="3" />
                            <label for="estrela_quatro"><i class="fas fa-star" id="icon_estrela_quatro"></i></label>
                            <input type="radio" id="estrela_quatro" name="estrela" value="4" />
                            <label for="estrela_cinco"><i class="fas fa-star" id="icon_estrela_cinco"></i></label>
                            <input type="radio" id="estrela_cinco" name="estrela" value="5" />
                            <br>
                            <span class="field-validation-valid text-danger" data-valmsg-for="estrela_cinco" data-valmsg-replace="true"></span>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" style="text-align: right">
                            <a class="btn btn-default" href="/">Voltar</a>
                            <input type="submit" value="Salvar" class="btn btn-primary" id="btnSalvar" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-retorno">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Atenção</h4>
            </div>
            <div class="modal-body">
                <h4>@TempData["Retorno"]</h4>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Meus Feedbacks</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    @foreach (var item in Model)
                    {
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                Departamento: @Html.DisplayFor(modelItem => item.Departamento.Nome)
                                @for (var i = item.Avaliacao; i > 0; i--)
                                {
                                    <i class="fas fa-star pull-right" style="margin-right: 5px;"></i>
                                }
                            </h4>
                            @if (item.Comentario != null)
                            {
                                <p class="list-group-item-text">
                                    Comentário: @Html.DisplayFor(modelItem => item.Comentario)
                                </p>
                            }
                            else
                            {
                                <br />
                            }
                        </div>
                    }

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<script src="@Url.Content("/Scripts/jquery-3.3.1.js")"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>
    $(document).ready(function () {
        $("#Avaliacao").val(null);

        $('input[name="estrela"][type="radio"]').click(function () {
            $('#Avaliacao').val(this.value);
        });

        if ("@TempData["Retorno"]" != "") {
            $("#modal-retorno").modal();
        }
    });
</script>

