@{
    ViewBag.Title = "Ouvidoria";
}
<div class="content-end">
    <div class="row" style="padding-left: 25px; padding-right: 25px; width: calc(100% - 50px)">
        <div class="col-md-3 col-sm-4 sidebar">
            <ul class="nav nav-stacked nav-pills" style="background-color: white;">
                <li>
                    @Html.ActionLink("Página Inicial", "Index", "Home")
                </li>
                <li>
                    <a href="#" id="mostraOuvidoria">Ouvidoria</a>
                </li>
                <li>
                    <a href="#" id="mostraReclamacao">Reclamações</a>
                </li>
                <li>
                    <a href="#" id="mostraSugestao">Sugestões</a>
                </li>
                <li>
                    <a href="#" id="mostraElogio">Elogios</a>
                </li>
                <li>
                    <a href="#" id="mostraDenuncia">Denúncias</a>
                </li>
            </ul>
        </div>

        <div class="col-md-9 col-sm-8 content-cad" id="divInicial">
            <h1 class="page-header">
                Ouvidoria
                <small>Escolha ao lado a opção desejada</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Ouvidoria", "Index", "Ouvidoria")
                </li>
                <li class="active" id="liPagina">Inicio</li>
            </ol>
            <div>
                <p>Escolha ao lado a opção desejada.</p>
            </div>
        </div>

        <div class="col-md-9 col-sm-8 content-cad" id="divReclamacao" hidden="hidden">
            <h1 class="page-header">
                Ouvidoria
                <small>Registre abaixo a sua reclamação</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Ouvidoria", "Index", "Ouvidoria")
                </li>
                <li class="active" id="liPagina">Reclamações</li>
            </ol>
            <div class="form-horizontal">
                <form>
                    <div class="form-group">
                        <label class="control-label col-md-2">Título</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Descrição</label>
                        <div class="col-md-10">
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Área</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Anônimo</label>
                        <div class="col-md-10 ">
                            <input type="checkbox" class="checkbox" />
                        </div>
                    </div>
                    <div class="col-md-12 end-button">
                         <button class="btn btn-primary" onclick="alert('Função ainda não implantada!')">Enviar Reclamação</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-md-9 col-sm-8 content-cad" id="divSugestao" hidden="hidden">
            <h1 class="page-header">
                Ouvidoria
                <small>Deixe abaixo a sua sugestão</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Ouvidoria", "Index", "Ouvidoria")
                </li>
                <li class="active" id="liPagina">Sugestões</li>
            </ol>
            <div class="form-horizontal">
                <form>
                    <div class="form-group">
                        <label class="control-label col-md-2">Título</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Descrição</label>
                        <div class="col-md-10">
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Área</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Anônimo</label>
                        <div class="col-md-10 ">
                            <input type="checkbox" class="checkbox" />
                        </div>
                    </div>
                    <div class="col-md-12 end-button">
                        <button class="btn btn-primary" onclick="alert('Função ainda não implantada!')">Enviar Reclamação</button>
                    </div>
                </form>
            </div>
        </div>



        <div class="col-md-9 col-sm-8 content-cad" id="divElogio" hidden="hidden">
            <h1 class="page-header">
                Ouvidoria
                <small>Deixe abaixo o seu elogio</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Ouvidoria", "Index", "Ouvidoria")
                </li>
                <li class="active" id="liPagina">Elogios</li>
            </ol>
            <div class="form-horizontal">
                <form>
                    <div class="form-group">
                        <label class="control-label col-md-2">Título</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Descrição</label>
                        <div class="col-md-10">
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Área</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Anônimo</label>
                        <div class="col-md-10 ">
                            <input type="checkbox" class="checkbox" />
                        </div>
                    </div>
                    <div class="col-md-12 end-button">
                        <button class="btn btn-primary" onclick="alert('Função ainda não implantada!')">Enviar Reclamação</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-md-9 col-sm-8 content-cad" id="divDenuncia" hidden="hidden">
            <h1 class="page-header">
                Ouvidoria
                <small>Registre abaixo a sua denúncia</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Página Inicial", "Index", "Home")
                </li>
                <li class="active" id="liPagina">Denúncia</li>
            </ol>
            <div class="form-horizontal">
                <form>
                    <div class="form-group">
                        <label class="control-label col-md-2">Título</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Descrição</label>
                        <div class="col-md-10">
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Área</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Anônimo</label>
                        <div class="col-md-10 ">
                            <input type="checkbox" class="checkbox" />
                        </div>
                    </div>
                    <div class="col-md-12 end-button">
                        <button class="btn btn-primary" onclick="alert('Função ainda não implantada!')">Enviar Reclamação</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>

<script src="@Url.Content("/Scripts/jquery-3.3.1.js")"></script>
<script src="@Url.Content("/Scripts/jquery-3.3.1.intellisense.js")"></script>
<script src="@Url.Content("/Scripts/jquery-3.3.1.min.js")"></script>
<script src="@Url.Content("/Scripts/jquery-3.3.1.min.map")"></script>
<script src="@Url.Content("/Scripts/jquery-3.3.1.slim.js")"></script>
<script src="@Url.Content("/Scripts/jquery-3.3.1.slim.min.js")"></script>
<script src="@Url.Content("/Scripts/jquery-3.3.1.slim.min.map")"></script>

<script>
    $(document).ready(function () {
        $("#mostraOuvidoria").click(function () {
            $("#divInicial").show();
            $("#divReclamacao").hide();
            $("#divSugestao").hide();
            $("#divElogio").hide();
            $("#divDenuncia").hide();
        });

        $("#mostraReclamacao").click(function () {
            $("#divInicial").hide();
            $("#divReclamacao").show();
            $("#divSugestao").hide();
            $("#divElogio").hide();
            $("#divDenuncia").hide();
        });

        $("#mostraSugestao").click(function () {
            $("#divInicial").hide();
            $("#divReclamacao").hide();
            $("#divSugestao").show();
            $("#divElogio").hide();
            $("#divDenuncia").hide();
        });

        $("#mostraElogio").click(function () {
            $("#divInicial").hide();
            $("#divReclamacao").hide();
            $("#divSugestao").hide();
            $("#divElogio").show();
            $("#divDenuncia").hide();
        });

        $("#mostraDenuncia").click(function () {
            $("#divInicial").hide();
            $("#divReclamacao").hide();
            $("#divSugestao").hide();
            $("#divElogio").hide();
            $("#divDenuncia").show();
        });
    });
</script>