@model Ouvidoria.Models.Evento
@{
    ViewBag.Title = "Ouvidoria";
}

<div class="container-fluid content-end">
    <div class="row" style="padding-left: 25px; padding-right: 25px; width: calc(100% - 50px)">
        <div class="col-md-3 col-sm-4 sidebar">
            <ul class="nav nav-stacked nav-pills" style="background-color: white;">
                <li>
                    @Html.ActionLink("Página In icial", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Registre seu Feedback", "Feedback", "Ouvidoria")
                </li>
                <li>
                    @Html.ActionLink("Feedbacks Registrados", "MeusFeedbacks", "Ouvidoria")
                </li>
                <li>
                    @Html.ActionLink("Registre seu Depoimento", "Depoimento", "Ouvidoria")
                </li>
                <li>
                    @Html.ActionLink("Depoimentos Registrados", "MeusDepoimentos", "Ouvidoria")
                </li>
            </ul>
        </div>

        <div class="col-md-9 col-sm-8 content-cad" id="divInicial">
            <h1 class="page-header">
                Ouvidoria
                <small>Escolha ao lado a opção desejada</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Ouvidoria", "Index", "Ouvidoria")
                </li>
                <li class="active" id="liPagina">Inicio</li>
            </ol>
            <div class="col-md-8 col-lg-offset-2">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">Registre seu Feedback</li>
                    <li class="list-group-item">
                        Deixe o seu feedback referente a uma ou mais áreas da Faculdade Antonio Meneghetti.
                        <br />
                        Visualize todos os feedbacks que você já registrou no sistema de Ouvidoria da AMF.
                    </li>
                </ul>
            </div>
            <div class="col-md-8 col-lg-offset-2">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">Registre seu Depoimento</li>
                    <li class="list-group-item">
                        Deixe o seu depoimento para a Faculdade, sendo ele uma Denúncia, Elogio, Reclamação ou Sugestão.
                        <br />
                        Veja, edite ou exclua os depoimentos que você já registrou no sistema e veja também a resposta deixada pelos administradores.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
