@model Ouvidoria.Models.Evento
@{
    ViewBag.Title = "Ouvidoria";
}

<div class="container-fluid content-end">
    <div class="row" style="padding-left: 25px; padding-right: 25px; width: calc(100% - 50px)">
        <div class="col-md-3 col-sm-4 sidebar">
            <ul class="nav nav-stacked nav-pills" style="background-color: white;">
                <li>
                    @Html.ActionLink("Página Inicial", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Registre seu Feedback", "Feedback", "Ouvidoria")
                </li>
                <li>
                    @Html.ActionLink("Feedbacks Registrados", "MeusFeedbacks", "Ouvidoria")
                </li>
                <li>
                    @Html.ActionLink("Registre seu Depoimento", "Depoimento", "Ouvidoria")
                </li>
                <li>
                    @Html.ActionLink("Depoimentos Registrados", "MeusDepoimentos", "Ouvidoria")
                </li>
            </ul>
        </div>

        <div class="col-md-9 col-sm-8 content-cad" id="divInicial">
            <h1 class="page-header">
                Ouvidoria
                <small>Escolha ao lado a opção desejada</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Ouvidoria", "Index", "Ouvidoria")
                </li>
                <li class="active" id="liPagina">Inicio</li>
            </ol>
            <div>
                <p>Escolha ao lado a opção desejada.</p>
            </div>
        </div>
    </div>
</div>
