@model IEnumerable<Ouvidoria.Models.Depoimento>

@if (TempData["Error"] != null)
{
    <script type="text/javascript">
            alert('@TempData["Error"]');
    </script>

}

<div class="container-fluid content-end">
    <div class="row" style="padding-left: 25px; padding-right: 25px; width: calc(100% - 50px)">
        <div class="col-md-3 col-sm-4 sidebar">
            <ul class="nav nav-stacked nav-pills" style="background-color: white;">
                <li>
                    @Html.ActionLink("Página Inicial", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Registre seu Feedback", "Feedback", "Ouvidoria")
                </li>
                <li>
                    @Html.ActionLink("Feedbacks Registrados", "MeusFeedbacks", "Ouvidoria")
                </li>
                <li>
                    @Html.ActionLink("Registre seu Depoimento", "Depoimento", "Ouvidoria")
                </li>
                <li>
                    @Html.ActionLink("Depoimentos Registrados", "MeusDepoimentos", "Ouvidoria")
                </li>
            </ul>
        </div>


        <div class="content-sides">
            <div class="col-md-9 col-sm-8 content-cad" id="divInicial">
                <h2>Meus Depoimentos</h2>
                <hr />
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Ouvidoria", "Index", "Ouvidoria")
                    </li>
                    <li class="active" id="liPagina">Meus Depoimentos</li>
                </ol>
                <div class="row">
                    <div style="padding-left: 15px; padding-right:15px;">
                        <table class="table table-striped" role="grid" aria-describedby="example_info" style="width: 100%;table-layout:fixed">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width: 10%;">
                                        Tipo do Depoimento
                                    </th>
                                    <th style="width: 10%;">
                                        Título
                                    </th>
                                    <th style="width: 40%;">
                                        Descrição
                                    </th>
                                    <th style="width: 35%;">
                                        Resposta
                                    </th>
                                    <th style="width: 5%;"></th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoDepoimento.Tipo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Titulo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Resposta)
                                    </td>
                                    @if (item.Respondido == false)
                                    {
                                        <td>
                                            <a href="@Url.Action("EditarDepoimento", "Ouvidoria", new { id = item.id })">
                                                <i class="glyphicon glyphicon-pencil" style="color: black"></i>
                                            </a>
                                            <a href="@Url.Action("ExcluirDepoimento", "Ouvidoria", new { id = item.id })">
                                                <i class="glyphicon glyphicon-remove" style="color: red;"></i>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="text-align: right">
                        @Html.ActionLink("Novo Depoimento", "Depoimento", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>