@model IEnumerable<Ouvidoria.Models.Depoimento>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>
                <i class="fa fa-frown type-gyphi"></i>
            </h1>
        </div>
        <div class="col-xs-12 text-center">
            <h1 class="name-giphy">Reclame</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" id="divFormulario">
            <h1 class="page-header">
                Ouvidoria
                <small id="smTipo">
                    Registre abaixo o sua Reclamação
                    <button class="pull-right btn btn-primary" data-toggle="modal" data-target="#modal-reclamacao">
                        Visualize suas Reclamações
                        <i class="glyphicon glyphicon-th-list"></i>
                    </button>
                </small>
            </h1>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label for="Titulo" class="control-label col-md-2">Título</label>
                        <div class="col-md-10">
                            <input class="form-control" data-val="true" data-val-maxlength="Tamanho máximo de 100 caracteres"
                                   data-val-maxlength-max="100" data-val-required="O campo Titulo é obrigatório." id="Titulo" name="Titulo" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Titulo" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Descricao" class="control-label col-md-2">Descrição</label>
                        <div class="col-md-10">
                            <textarea class="form-control" cols="20" data-val="true" data-val-maxlength="Tamanho máximo de 4000 caracteres"
                                      data-val-maxlength-max="4000" data-val-required="O campo Descricao é obrigatório." id="Descricao" name="Descricao" rows="5"></textarea>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Descricao" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-right">
                            <a class="btn btn-default" href="/">Voltar</a>
                            <input type="submit" value="Salvar" class="btn btn-primary" id="btnSalvar" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-retorno">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Atenção</h4>
            </div>
            <div class="modal-body">
                <h4>@TempData["Retorno"]</h4>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-reclamacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Minhas Reclamações</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    @foreach (var item in Model)
                    {
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">
                                Titulo: @Html.DisplayFor(modelItem => item.Titulo)
                                @if (item.Respondido == false)
                                {
                                    <a href="@Url.Action("EditarDepoimento", "Ouvidoria", new { id = item.id })" class="pull-right" title="Editar">
                                        <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                                    </a>
                                    <a href="@Url.Action("ExcluirDepoimento", "Ouvidoria", new { id = item.id })" class="pull-right" title="Excluir">
                                        <i class="glyphicon glyphicon-trash btn btn-primary" style="margin-right: 5px;"></i>
                                    </a>
                                }

                            </h4>
                            <p class="list-group-item-text">Descrição: @item.Descricao</p>
                            @if (item.Respondido == true)
                            {
                                <p class="list-group-item-text">Descrição: @item.Resposta</p>
                            }
                            else
                            {
                                <br />
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("/Scripts/jquery-3.3.1.js")"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>
    $(document).ready(function () {
        if ("@TempData["Retorno"]" != "") {
            $("#modal-retorno").modal();
        }
    });
</script>