@model Ouvidoria.Models.Depoimento
@{
    ViewBag.Title = "Sugestão";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>
                <i class="fa fa-lightbulb type-gyphi"></i>
            </h1>
        </div>
        <div class="col-xs-12 text-center">
            <h1 class="name-giphy">Sugestione</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" id="divFormulario">
            <h1 class="page-header">
                Ouvidoria
                <small id="smTipo">
                    Registre abaixo o sua Sugestão
                    <button class="pull-right btn btn-primary" data-toggle="modal" data-target="#modal-sugestao">
                        Visualize suas Sugestões
                        <i class="glyphicon glyphicon-th-list"></i>
                    </button>
                </small>
            </h1>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label for="Titulo" class="control-label col-md-2">Título</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Titulo, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Titulo)
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Descricao" class="control-label col-md-2">Descrição</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Descricao, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Descricao)
                        </div>
                    </div>

                    <div class="form-group" hidden="hidden">
                        @Html.TextBoxFor(model => model.idTipoDepoimento)
                    </div>

                    <div class="form-group" hidden="hidden">
                        @Html.TextBoxFor(model => model.idUsuario)
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-right">
                            <a class="btn btn-default" href="/">Voltar</a>
                            <input type="submit" value="Salvar" class="btn btn-primary" id="btnSalvar" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sugestao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Minhas Sugestões</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Título: Blá Blá Blá
                            <a href="#" class="pull-right" title="Editar">
                                <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                            </a>
                            <a href="#" class="pull-right" title="Visualizar">
                                <i class="glyphicon glyphicon-eye-open btn btn-primary" style="margin-right: 5px;"></i>
                            </a>
                        </h4>
                        <p class="list-group-item-text">Descrição: Blá Blá Blá Blá Blá</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Título: Blá Blá Blá
                            <a href="#" class="pull-right" title="Editar">
                                <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                            </a>
                            <a href="#" class="pull-right" title="Visualizar">
                                <i class="glyphicon glyphicon-eye-open btn btn-primary" style="margin-right: 5px;"></i>
                            </a>
                        </h4>
                        <p class="list-group-item-text">Descrição: Blá Blá Blá Blá Blá</p>
                    </div>
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Título: Blá Blá Blá
                            <a href="#" class="pull-right" title="Editar">
                                <i class="glyphicon glyphicon-pencil btn btn-default"></i>
                            </a>
                            <a href="#" class="pull-right" title="Visualizar">
                                <i class="glyphicon glyphicon-eye-open btn btn-primary" style="margin-right: 5px;"></i>
                            </a>
                        </h4>
                        <p class="list-group-item-text">Descrição: Blá Blá Blá Blá Blá</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("/Scripts/jquery-3.3.1.js")"></script>