@model IEnumerable<Ouvidoria.Models.Questionario>

@if (TempData["Error"] != null)
{
    <script>alert("@TempData["Error"]")</script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>
                <i class="glyphicon glyphicon-th-list type-gyphi"></i>
            </h1>
        </div>
        <div class="col-xs-12 text-center">
            <h1 class="name-giphy">Questionários</h1>
        </div>
    </div>

<<<<<<< refs/remotes/origin/fontes
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                @{ int index = 0; }

                @foreach (var item in Model)
                {
                    string estilo = "white";
                    if (@index % 2 == 0)
                    {
                        estilo = "#eaeaea";
                    }

                    <li class="list-group-item" style="background: @estilo">
                        <h4 class="list-group-item-heading"><b>Tipo:       </b>@item.Titulo</h4>
                        <p>@item.Descricao</p>
                        <small>De @item.DataInicio até @item.DataFim</small>
                            
                        <p class="list-group-item-text">    <b>Descrição:  </b>@item.Descricao</p>
                        
                        @Html.ActionLink("Editar", "Editar", new { id = item.id }) |
                        @Html.ActionLink("Pré Visualizar", "PreVisualizar", new { id = item.id })
                    </li>
                }
            </ul>
        </div>
=======
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            @if (User.IsInRole("2"))
            {
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.id }) |
                    @Html.ActionLink("Pré Visualizar", "PreVisualizar", new { id = item.id }) |
                    @Html.ActionLink("Respostas", "Respostas", new { id = item.id }) 
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Responder", "Responder", new { id = item.id })
                </td>
            }

        </tr>
    }
>>>>>>> Backend questionário finalizado

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="text-align: right">
                @Html.ActionLink("Novo Questionário", "Criar", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>