@model IEnumerable<Ouvidoria.Models.Questionario>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>
                <i class="glyphicon glyphicon-comment type-gyphi"></i>
            </h1>
        </div>
        <div class="col-xs-12 text-center">
            <h1 class="name-giphy">Questionários</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                @{ int index = 0; }

                @foreach (var item in Model)
                {
                    string estilo = "white";
                    if (index % 2 == 0)
                    {
                        estilo = "#eaeaea";
                    }

                    <li class="list-group-item" style="background: @estilo">
                        <h4 class="list-group-item-heading">
                            <b>Título: </b>@item.Titulo
                            @if (User.IsInRole("2"))
                            {
                                @Html.ActionLink("Editar", "Editar", new { id = item.id }, new { @class = "btn btn-primary btn-sm pull-right" })
                                @Html.ActionLink("Pré Visualizar", "PreVisualizar", new { id = item.id }, new { @class = "btn btn-default btn-sm pull-right" })
                                @Html.ActionLink("Respostas", "Respostas", new { id = item.id }, new { @class = "btn btn-success btn-sm pull-right" })
                            }
                            else
                            {
                                @Html.ActionLink("Responder", "Responder", new { id = item.id }, new { @class = "btn btn-primary btn-sm pull-right" })
                            }
                        </h4>
                        <p>@item.Descricao</p>
                        <small>De <b>@item.DataInicio.ToShortDateString()</b> até <b>@item.DataFim.ToShortDateString()</b></small>
                    </li>
                    index++;
                }
            </ul>
        </div>
        @if (User.IsInRole("2"))
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="text-align: right">
                    @Html.ActionLink("Novo Questionário", "Criar", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        }

    </div>
</div>

@if (TempData["Error"] != null)
{
    <script>alert("@TempData["Error"]")</script>
}
