@model Ouvidoria.Models.Questionario

<div class="container-fluid">
    <div class="content-sides">
        <div class="col-md-12" id="divInicial">
            <h1>
                <i class="glyphicon glyphicon-list type-gyphi" style="padding: 12px; height: 60px; width: 60px; font-size: 35px;  "></i>
                Questionário - @Html.Label(Model.Titulo)
            </h1>
            <hr />
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Questionários", "Index", "Questionarios")
                </li>
                <li class="active" id="liPagina">Pré Visualizar</li>
            </ol>

            <div class="jumbotron" style="font-size: 16px !important;">
                <h2 class="text-center">@Html.DisplayFor(model => model.Titulo)</h2>
                <br />
                <small>@Html.DisplayFor(model => model.Descricao)</small>
                <br />
                <br />

                @{int i = 0, j = 1; }
                @foreach (var pergunta in Model.Pergunta)
                {
                    <div class="row">
                        <div class="panel panel-default well-lg">
                            @if (pergunta.tipo == Ouvidoria.Models.Pergunta.Tipo.Objetiva)
                            {
                                <label class="form-control-static">@j  - @pergunta.Descricao</label>
                                <hr />
                                if (pergunta.Opcao != null)
                                {
                                    foreach (var opcao in pergunta.Opcao)
                                    {
                                        <p class="radio"><input type="radio" disabled value="@opcao.id" /> @opcao.Descricao</p>
                                    }
                                }
                            }
                            else
                            {
                                <label class="form-control-static">@j  -  @pergunta.Descricao</label>
                                <hr />
                                <textarea class="form-control" rows="3" disabled></textarea>
                            }
                        </div>
                    </div>
                    i++;
                    j++;
                }
            </div>
            <p>
                @Html.ActionLink("Editar", "Editar", new { id = Model.id }) |
                @Html.ActionLink("Voltar para a lista", "Index")
            </p>
        </div>
    </div>
</div>