@model IEnumerable<Ouvidoria.Models.Usuario>

@{ViewBag.Title = "Index"; }

<div class="container-fluid content-end">
    <div class="row">
        <div class="content-cad col-md-offset-2 col-md-8 col-xs-12">
            <h2>Usuários</h2>
            <button class="btn btn-default" style="position: absolute;top: 20px;right: 15px;">@Html.ActionLink("Novo Usuário", "Create")</button>
            <hr/>
            <h4>Listagem de Usuários</h4>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Curso.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsuarioPerfil.Perfil)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsuarioPerfil.Perfil)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.id })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>