@model IEnumerable<Ouvidoria.Models.Usuario>

<div class="container-fluid content-end">
    @{Html.RenderPartial("_PartialAdmSideBar"); }
    <div class="content-sides">
        <div class="col-md-9 col-sm-8 content-cad">
            <h2>Usuários</h2>
            <hr />
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Usuários", "Index", "Usuarios")
                </li>
                <li class="active" id="liPagina">Inicio</li>
            </ol>
            <table class="table table-striped" role="grid" aria-describedby="example_info" style="width: 100%;table-layout:fixed">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 11%;">
                            Curso
                        </th>
                        <th style="width: 10%;">
                            @Html.DisplayNameFor(model => model.UsuarioPerfil.Perfil)
                        </th>
                        <th style="width: 27%;">
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th style="width: 27%;">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th style="width: 15%;">
                            @Html.DisplayNameFor(model => model.Telefone)
                        </th>
                        <th style="width: 5%;">Ativo</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsuarioPerfil.Perfil)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td class="text-center">
                            @if (item.Ativo == true)
                            {
                                <i class="fas fa-thumbs-up" style="color: green;"></i>
                            }
                            else
                            {
                                <i class="fas fa-thumbs-down" style="color: red;"></i>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Usuarios", new { id = item.id })">
                                <i class="glyphicon glyphicon-pencil" style="color: black"></i>
                            </a>
                            <a href="@Url.Action("Details", "Usuarios", new { id = item.id })">
                                <i class="glyphicon glyphicon-zoom-in"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>