@model Ouvidoria.Models.DepartamentoDepoimento

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DepartamentoDepoimento</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group" hidden="hidden">
                @Html.EditorFor(model => model.Avaliacao)
        </div>

        <div class="form-group estrelas">
            <label class="control-label col-md-2">Avalie</label>
            <div class="col-md-10">
                <input type="radio" id="vazio" name="estrela" value="0" checked />
                <label for="estrela_um"><i class="fas fa-star" id="icon_estrela_um"></i></label>
                <input type="radio" id="estrela_um" name="estrela" value="1" />
                <label for="estrela_dois"><i class="fas fa-star" id="icon_estrela_dois"></i></label>
                <input type="radio" id="estrela_dois" name="estrela" value="2" />
                <label for="estrela_tres"><i class="fas fa-star" id="icon_estrela_tres"></i></label>
                <input type="radio" id="estrela_tres" name="estrela" value="3" />
                <label for="estrela_quatro"><i class="fas fa-star" id="icon_estrela_quatro"></i></label>
                <input type="radio" id="estrela_quatro" name="estrela" value="4" />
                <label for="estrela_cinco"><i class="fas fa-star" id="icon_estrela_cinco"></i></label>
                <input type="radio" id="estrela_cinco" name="estrela" value="5" />
                @Html.ValidationMessageFor(model => model.Avaliacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comentario)
                @Html.ValidationMessageFor(model => model.Comentario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idUsuario, "idUsuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idUsuario", String.Empty)
                @Html.ValidationMessageFor(model => model.idUsuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idDepartamento, "idDepartamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idDepartamento", String.Empty)
                @Html.ValidationMessageFor(model => model.idDepartamento)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="@Url.Content("/Scripts/jquery-3.3.1.js")"></script>

<script>
    $(document).ready(function () {
        $("#Avaliacao").val(null);

        $("#icon_estrela_um").click(function () {
            $("#Avaliacao").val(1);
        });

        $("#icon_estrela_dois").click(function () {
            $("#Avaliacao").val(2);
        });

        $("#icon_estrela_tres").click(function () {
            $("#Avaliacao").val(3);
        });

        $("#icon_estrela_quatro").click(function () {
            $("#Avaliacao").val(4);
        });

        $("#icon_estrela_cinco").click(function () {
            $("#Avaliacao").val(5);
        });
    });
</script>