
<link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />

@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        alert('@TempData["Error"]');
    </script>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>
                <i class="fa fa-comment-dots type-gyphi"></i>
            </h1>
        </div>
        <div class="col-xs-12 text-center">
            <h1 class="name-giphy">Depoimentos</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                @foreach (var item in ViewBag.registros)
                {
                    string estilo = "white";
                    if (@ViewBag.registros.IndexOf(item) % 2 == 0)
                    {
                        estilo = "#eaeaea";
                    }
                    <div class="list-group-item" style="background: @estilo">
                        <h4 class="list-group-item-heading">
                            <b>Departamento: </b>@item.Departamento.Nome
                            <label class="pull-right">
                                @for (int i = 0; i < @item.Avaliacao; i++)
                                {
                                    <i class="glyphicon glyphicon-star" style="color: #FFEB3B;"></i>
                                }
                            </label>
                        </h4>
                        <h4 class="list-group-item-heading"><b>Usuário: </b>@item.Usuario.Nome</h4>
                        <p class="list-group-item-text"><b>Comentário: </b>@item.Comentario</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>
    <script type="text/javascript">
        /*
        "columns": [
            { "data": "id", "autowidth": false },
            { "data": "TipoDepoimento.Tipo", "autowidth": false },
            { "data": "Usuario.Nome", "autowidth": false },
            { "data": "Titulo", "autowidth": false },
            { "data": "Descricao", "autowidth": false },
            { "data": "Resposta", "autowidth": false },
            {
                "render": function (data, type, full, meta)
                { return ''; }
            },
        ],
        */
    </script>
}   