<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ouvidoria</title>

    <link href="@Url.Content("/css/app.css")" rel="stylesheet">
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="https://www.faculdadeam.edu.br/Content/images/amf.png" style="width: 50px;position: absolute;left: 5px;top: 5px;" />
                @Html.ActionLink("Ouvidoria", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li id="sidebarpage">
                            @Html.ActionLink("Administração", "Index", "Administracao")
                        </li>
                        <li id="sidebarpage">
                            @Html.ActionLink("Registre sua opinião", "Index", "Ouvidoria")
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @User.Identity.Name<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Sair", "Logout", "Autenticacao")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li id="sidebarpage">
                            @Html.ActionLink("Login", "Login", "Autenticacao")
                        </li>
                        <li id="sidebarpage">
                            @Html.ActionLink("Registrar-se", "Cadastrar", "Autenticacao")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="content-footer">
        <div class="row" style="margin-right: 0px;">
            <div class="col-md-3">
                <p>Ouvidoria - AMF</p>
            </div>
        </div>
    </footer>

    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/Scripts/jquery-3.3.1.js")"></script>
    @RenderSection("scripts", false)

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>