<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ouvidoria</title>

    <link href="@Url.Content("/css/app.css")" rel="stylesheet">
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <link href="@Url.Content("/css/all.css")" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://faculdadeam.edu.br/">
                    <img src="/img/logoBranca.png" style="width: 50px;position: absolute;top: 5px;" />
                </a>
                @Html.ActionLink("Ouvidoria", "Index", new { controller = "Home" }, new { @class = "navbar-brand", id = "navBrand" })
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="acessos" class="nav navbar-nav navbar-right">

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("2"))
                        {
                            <li id="">
                                @Html.ActionLink("Feedbacks", "Index", "Feedbacks")
                            </li>
                            <li id="">
                                @Html.ActionLink("Depoimentos", "Index", "Depoimentos")
                            </li>
                            <li id="">
                                @Html.ActionLink("Administração", "Index", "Administracao")
                            </li>
                        }
                        if (User.IsInRole("1"))
                        {
                            <li class="op" url="Feedback">
                                <a href="@Url.Action("Feedback", "Ouvidoria")">
                                    Feedback
                                    <i class="glyphicon glyphicon-star"></i>
                                </a>
                            </li>
                            <li class="op" url="Elogio">
                                <a href="@Url.Action("Elogio", "Ouvidoria")">
                                    Elogio
                                    <i class="fa fa-thumbs-up"></i>
                                </a>
                            </li>
                            <li class="op" url="Sugestao">
                                <a href="@Url.Action("Sugestao", "Ouvidoria")">
                                    Sugestão
                                    <i class="fa fa-lightbulb"></i>
                                </a>
                            </li>
                            <li class="op" url="Reclamacao">
                                <a href="@Url.Action("Reclamacao", "Ouvidoria")">
                                    Reclamação
                                    <i class="fa fa-frown"></i>
                                </a>
                            </li>
                            <li class="op" url="Denuncia">
                                <a href="@Url.Action("Denuncia", "Ouvidoria")">
                                    Denúncia
                                    <i class="fa fa-bullhorn"></i>
                                </a>
                            </li>
                        }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @User.Identity.Name <span class="caret" style="color: white;"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Alterar senha", "AlterarSenha", "PainelUsuario")</li>
                                <li>@Html.ActionLink("Sair", "Logout", "Autenticacao")</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li id="sidebarpage">
                            @Html.ActionLink("Login", "Login", "Autenticacao")
                        </li>
                        <li id="sidebarpage">
                            @Html.ActionLink("Registrar-se", "Cadastrar", "Autenticacao")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()


    <footer class="page-footer font-small" style="margin: 0; padding: 15px 0; background-color: #363535; height: 125px;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <h2>Ouvidoria AMF</h2>
            <p style="color: white">Aqui você interage da melhor maneira com a instituição.</p>
        </div>
        <!-- Copyright -->

    </footer>

    <script src="@Url.Content("/Scripts/jquery-3.3.1.js")"></script>
    <script src="@Url.Content("/js/main.js")"></script>
    <script src="@Url.Content("/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("/js/app.js")"></script>
    @RenderSection("scripts", false)
</body>
</html>