@model Ouvidoria.Models.Curso

@{
    ViewBag.Title = "Details";
}


<div class="container-fluid content-end">
    @{Html.RenderPartial("_PartialAdmSideBar"); }
    <div class="content-sides">
        <div class="col-md-9 col-sm-8 content-cad" id="divInicial">
            <h2>Detalhes do curso</h2>
            <hr />
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Cursos", "Index", "Cursos")
                </li>
                <li class="active" id="liPagina">Detalhes</li>
            </ol>
            <div class="col-md-10 col-lg-offset-1">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">Detalhes do Curso</li>
                    <li class="list-group-item">@Html.DisplayNameFor(model => model.Nome): @Html.DisplayFor(model => model.Nome)</li>
                </ul>
                <div class="text-right">
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "action-link btn btn-default" })
                    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>
