@model Ouvidoria.Models.Curso

@{
    ViewBag.Title = "Details";
}


<div class="container-fluid">
    <div class="content-sides">
        <div class="col-md-8 col-md-offset-2" id="divInicial">
            <h1>
                <i class="glyphicon glyphicon-th-list type-gyphi" style="padding: 12px; height: 60px; width: 60px; font-size: 35px;  "></i>
                Detalhes do curso
            </h1>
            <hr />
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Cursos", "Index", "Cursos")
                </li>
                <li class="active" id="liPagina">Detalhes</li>
            </ol>
            <div class="col-md-12">
                <h4 class="control-label" style="color: #555555;">
                    <strong>@Html.DisplayNameFor(model => model.Nome):</strong>
                    @Html.DisplayFor(model => model.Nome)
                </h4>
            </div>
            <div class="text-right">
                @Html.ActionLink("Voltar", "Index", null, new { @class = "action-link btn btn-default" })
                @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
