@model Ouvidoria.Models.Curso

<div class="container-fluid content-end">
    @{Html.RenderPartial("_PartialAdmSideBar"); }
    <div class="content-sides">
        <div class="col-md-9 col-sm-8 content-cad" id="divInicial">
            <div class="form-horizontal">
                <h2>Editar Curso</h2>
                <hr />
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Cursos", "Index", "Cursos")
                    </li>
                    <li class="active" id="liPagina">Editar</li>
                </ol>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Nome, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Nome)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-9" style="text-align: right">
                            @Html.ActionLink("Voltar", "Index", null, new { @class = "action-link btn btn-default" })
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
